{% extends 'base/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load search_filter %}

{% block content %}

{% include "shop/_breadcrumbs.html" with ancestors=category %}

<!-- Breadcrumb End -->
<!-- Shop Page Start -->
<div class="main-shop-page pb-60">
    <div class="container">
        <!-- Row End -->
        <div class="row">
            <!-- Sidebar Shopping Option Start -->
            <div class="col-lg-3  order-2">
                <div class="sidebar white-bg">
                    <div class="single-sidebar">
                        <div class="group-title">
                            <h2>Категория {{category.parent}}</h2>
                        </div>
                        <ul>
                            {% for sub_category in sub_categories %}
                            {% if category == sub_category %}
                            <li class="categ"><a href="{{sub_category.get_absolute_url}}">{{sub_category.title}}</a>
                            </li>
                            {% else %}
                            <li><a href="{{sub_category.get_absolute_url}}">{{sub_category.title}}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="single-sidebar">
                        <div class="group-title">
                            <h2>price</h2>
                        </div>
                        <form action="#">
                            <div id="slider-range"
                                 class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                                <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                            </div>
                            <input id="amount" class="amount" readonly="" type="text">
                        </form>
                    </div>

                    <div class="single-sidebar">
                        {% block productfilter %}
                        <form class="d-flex mt-3" action="{% url 'shop:category_detail' slug=category.slug %}"
                              method="GET">
                            <input class="form-control me-2" name="search" type="search" placeholder="Поиск товара"
                                   aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Поиск</button>
                        </form>
                        <hr>
                        <form action="{% url 'shop:category_detail' slug=category.slug %}" method="GET">
                            {{ category|product_spec }}
                            <p class="text-center">
                                <button class="btn btn-outline-success" type="submit">Поиск</button>
                                <button class="btn btn-outline-info" type="submit">Сбросить</button>
                            </p>
                        </form>
                        {% endblock productfilter %}
                    </div>
                </div>
            </div>
            <!-- Sidebar Shopping Option End -->
            <!-- Product Categorie List Start -->
            <div class="col-lg-9 order-lg-2">
                <!-- Grid & List View Start -->
                <div class="grid-list-top border-default universal-padding fix mb-30">
                    <div class="grid-list-view f-left">
                        <ul class="list-inline nav">
                            <li><a class="active show" data-toggle="tab" href="#grid-view"><i class="fa fa-th"></i></a>
                            </li>
                            <li><a class data-toggle="tab" href="#list-view"><i class="fa fa-list-ul"></i></a>
                            </li>
                            <li><span class="grid-item-list"> Items 1-12 of 13</span></li>
                        </ul>
                    </div>
                    <!-- Toolbar Short Area Start -->
                    <div class="main-toolbar-sorter f-right">
                        <div class="toolbar-sorter">
                            <label>sort by</label>
                            <select class="sorter" name="sorter">
                                <option value="Position" selected="selected">position</option>
                                <option value="Product Name">Product Name</option>
                                <option value="Price">Price</option>
                            </select>
                            <span><a href="#"><i class="fa fa-arrow-up"></i></a></span>
                        </div>
                    </div>
                    <!-- Toolbar Short Area End -->
                </div>
                <!-- Grid & List View End -->
                <div class="main-categorie">
                    <!-- Grid & List Main Area End -->
                    <div class="tab-content fix">
                        <div id="grid-view" class="tab-pane active show">
                            <div class="row">
                                {% for product in category_products %}
                                <div class="col-lg-4 col-sm-6">
                                    <div class="single-product">
                                        <div class="pro-img">
                                            <a href="product.html">
                                                <img class="primary-img" src="{% static 'shop/img/products/1.jpg' %}"
                                                     alt="single-product">
                                                <img class="secondary-img" src="{% static 'shop/img/products/2.jpg' %}"
                                                     alt="single-product">
                                            </a>
                                        </div>
                                        <div class="pro-content">
                                            <h4><a href="product.html">{{ product.title }}</a></h4>
                                            <p><span class="price">{{ product.price }} ₴</span>
                                                {% if product.old_price %}
                                                <del class="prev-price">{{ product.old_price }} ₴</del>
                                                {% endif %}
                                            </p>
                                            <div class="pro-actions">
                                                <div class="actions-secondary">
                                                    <a href="wishlist.html" data-toggle="tooltip"
                                                       title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                    <a class="add-cart" href="cart.html" data-toggle="tooltip"
                                                       title="Add to Cart">Add To Cart</a>
                                                    <a href="compare.html" data-toggle="tooltip" title="Add to Compare"><i
                                                            class="fa fa-signal"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- #grid view End -->
                        <div id="list-view" class="tab-pane">
                            {% for product in category_products %}
                            <div class="single-product">
                                <!-- Product Image Start -->
                                <div class="pro-img">
                                    <a href="product.html">
                                        <img class="primary-img" src="{% static 'shop/img/products/1.jpg' %}"
                                             alt="single-product">
                                        <img class="secondary-img" src="{% static 'shop/img/products/2.jpg' %}"
                                             alt="single-product">
                                    </a>
                                </div>
                                <!-- Product Image End -->
                                <!-- Product Content Start -->
                                <div class="pro-content">
                                    <h4><a href="product.html">{{ product.title }}</a></h4>
                                    <p><span class="price">{{ product.price }} ₴</span>
                                        {% if product.old_price %}
                                        <del class="prev-price">{{ product.old_price }} ₴</del>
                                        {% endif %}
                                    </p>
                                    <p>{{ product.description }}</p>
                                    <div class="pro-actions">
                                        <div class="actions-secondary">
                                            <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i
                                                    class="fa fa-heart"></i></a>
                                            <a class="add-cart" href="cart.html" data-toggle="tooltip"
                                               title="Add to Cart">Add To Cart</a>
                                            <a href="compare.html" data-toggle="tooltip" title="Add to Compare"><i
                                                    class="fa fa-signal"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- #list view End -->
                    </div>
                    <!-- Grid & List Main Area End -->
                </div>
                <!--Breadcrumb and Page Show Start -->
                <div class="pagination-box fix">
                    <ul class="blog-pagination ">
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>

                    <div class="toolbar-sorter-footer">
                        <label>show</label>
                        <select class="sorter" name="sorter">
                            <option value="Position" selected="selected">12</option>
                            <option value="Product Name">15</option>
                            <option value="Price">30</option>
                        </select>
                        <span>per page</span>
                    </div>
                </div>
                <!--Breadcrumb and Page Show End -->
            </div>
            <!-- product Categorie List End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Shop Page End -->
<!-- Brand Logo Start -->
<div class="brand-area pb-60">
    <div class="container">
        <!-- Brand Banner Start -->
        <div class="brand-banner owl-carousel">
            <div class="single-brand">
                <a href="#"><img class="img" src="img/brand/1.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="img/brand/2.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="img/brand/3.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="img/brand/4.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="img/brand/5.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img class="img" src="img/brand/1.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="img/brand/2.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="img/brand/3.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="img/brand/4.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="img/brand/5.png" alt="brand-image"></a>
            </div>
        </div>
        <!-- Brand Banner End -->
    </div>
</div>
{% endblock content %}